body {
	background: #eee;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
 
hr {
	border:0;
	background:#dedede;
	height:1px;
}		
 
header{
	text-align: center;
	color: #232323;
}
 
header .judul{
	font-size: 17pt;
}
 
header .deskripsi{
	font-size: 11pt;
}
 
 header .logo {
  background-repeat: no-repeat;
  background-color: while;
  padding-left: 10px !important;
  background-size: 25%;
  background-position-y: 25%;
  width: 250px;
  height: 110px


  
}

 
.wrap {
	width: 950px;
	margin:25px auto;
}
 
nav.menu ul {
	overflow:hidden;
	color:#fff;
	list-style: none;
	float:center;
	padding:0;
	width: 950px;
	margin:0 0 0;
	background: #0080ff;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
}
 
nav.menu ul li {
	margin:0;
	float:left;
}

li.dropdown {
		display: inline-block;
	}
 
	.dropdown:hover .isi-dropdown {
		display: block;
		width: 179px;
	}
 
	.isi-dropdown a:hover {
		color: #fff !important;
		width: 179;
	}
 
	.isi-dropdown {
		position: absolute;
		display: none;
		box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
		z-index: 1;
		background-color: #f9f9f9;
	}
 
	.isi-dropdown a {
		color: #fff !important;
		width: 179;
	}
 
	.isi-dropdown a:hover {
		color: #fff !important;
		box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	}
 
 
nav.menu ul a {
	padding:25px;
	display:block;
	font-weight:600;
	font-size: 16px;
	color:#fff;
	font-size: 11pt;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}
 
nav.menu ul a:hover {
	text-decoration: underline;
	background:#16a085;
}

.sidebar {
	float:right;
	width:275px;
	margin: 25px auto;
}
 
.sidebar .widget {
	padding:25px;
	margin:0 0 25px;
	background:#fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s ease;
}
 
.sidebar .widget:hover {
	border-bottom: 2px solid #3498db;
}
 
.sidebar .widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#3498db;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}
 
.sidebar .widget p {
	font-size: 14px;
}
 
.sidebar .widget p:last-child {
	margin:0;
}
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;

}
a:link{
	color: red;
	text-decoration: none;
}

 
.blog {
	float:left;
}

.conteudo {
	width:600px;
	padding:25px;
	margin:25px auto;
	background: #fff;
	border:1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}
 
.conteudo .img {
	min-width: 650px;
	margin:0 0 25px -25px;
	max-width: 650px;
}

.conteudo .imgs { 
	float: left;
	min-width: 100px;
	margin:0 0 25px -25px;
	max-width: 100px;
}
 
.conteudo h1 {
	padding:0;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}
 
.conteudo p:last-child {
	margin: 0;
}
 
.conteudo .continue-lendo {
	color:#000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700; 
}
 
.conteudo .continue-lendo:hover {
	margin-left:10px;
}

.post-info {
	float: right;
	font-size: 12px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}

.logo {
  background-image: url("image/nama-imag.jpg");
  background-repeat: no-repeat;
  padding-left: 18px !important;
  background-size: 20%;
  background-position-y: 20%
}

.wrapp {
	width: 950px;
	margin:25px auto;
}
 
nav.footer {
	overflow:hidden;
	color:#fff;
	float:center;
	padding:0;
	width: 950px;
	min-width: 100%;
	margin:0 0 0;
	background: #0080ff;
	text-align: center;
	font-size: 12px;
	font-weight:800;
}

 
@media screen and (max-width: 960px) {
 
	.header {
		position:inherit;
	}
 
	.wrap {
		width: 90%;
		margin:25px auto;
	}
	.sidebar {
		width:100%;
		margin:25px 0 0;
		float:right;
	}
 
	.sidebar .widget {
		padding:5%;
	}
 
	nav.menu ul {
		width: 100%;
	}
 
	nav.menu ul {
		float:inherit;
	}
 
	nav.menu ul li {
		float:inherit;
		margin:0;
	}
 
	nav.menu ul a {
		padding:15px;
		font-size: 16px;
		border-top:1px solid #1abf9f;
		border-bottom:1px solid #16a085;
	}
 
	.blog {
		width:100%;
	}
 
	.conteudo {
		float:inherit;
		margin:0 auto 25px;
		width:101%;
		border:1px solid #dedede;
		padding:5%;  
		background: #fff;
	}
 
	.conteudo img {
		max-width: 110%;
		margin:0 0 25px -5%;
		min-width: 110%;
	}
 
	.conteudo .continue-lendo:hover {
		margin-left:0;
	}
	

}

@media screen and (max-width: 460px) {
 
	nav.menu ul a {
		padding:15px;
		font-size: 14px;
	}
 
	.sidebar {
		display:none
	}
	.post-info {
		display:none;
	}
 
	.conteudo {
		margin:25px auto;
	}
 
	.conteudo img {
		margin:-5% 0 25px -5%;
	}			
	
}	
div.img {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}
 
div.img:hover {
    border: 1px solid #777;
    border-bottom: 2px solid #3498db;
}
 
div.img img {
    width: 100%;
    height: auto;
}
 
div.desc {
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
}

body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	background-color: #f4f4f4;
}

.column_middle {
	width: 600px;
	padding: 0px 20px;
	overflow: hidden;
	margin: 0;
}
 
label {
	font-size: 12pt;
}
 
.form_register {
	box-sizing : border-box;
	width: 100%;
	padding: 5px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.Submit {
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

}
